body{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(200, 219, 219);
}

.navbar1{
    background-color: rgb(87, 2, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    border-radius: 50%;
    width: 60px;
}
.navy{
    font-size: 30px;
    color: white;
}
li{
    padding: 5px;
}


.about{
    width: 100%;
    height:350px;
    background:linear-gradient(to right,#633569,#923ea7);
    display: flex;
}
.differ{
    background-color: #c79dfc;
    border:2px solid rgb(78, 5, 78);
    box-sizing:content-box;
    border-radius: 2px;
    width:200px;
    height:100px;
    padding:50px;
    margin:10px;
    text-align: center;
    float: left;
}
h5{
    font-weight: bold;
    font-size: medium;
}
.about img{
    width:100%;
    height:100%;
    margin-left:71%;
    display: flex;
    border-radius:50%;
}
.about h4{
    text-align: center;
    color:white;
    position: absolute;
    margin-left:400px;
    font-size:60px ;
    margin-top: 80px;
}
.about h3{
    margin-top:200px;
    color:white;
    text-align: center;
    position: absolute;
    font-size:54px;
    margin-left:150px;
}
h3{
    text-align: center;
}
footer{
    margin-top: 270px;
}

