body{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.17);
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    background-color: rgb(240, 128, 128, 0.4);
    text-align: center;
    width: 500px;
    margin-left: 400px;
    margin-top: 50px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 12px;
    border: 3px solid purple;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px black;
}
input{
    padding: 7px;
    border-radius: 10px;
}
input:hover{
    border-color: purple;
    box-shadow: purple;
    background-color: lightcoral;
}
textarea{
    border-radius: 10px;
    border: 2px solid black;
}
a{
    text-decoration: none;
    color: black;
}
button{
    border-radius: 10px;
    padding: 5px;
}
button:hover{
    background-color: lightcoral;
}

.navbar1{
    background-color: rgb(87, 2, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    border-radius: 50%;
    width: 60px;
}
.navy{
    font-size: 30px;
    color: white;
}
li{
    padding: 5px;
}
footer{
    margin-top: 70px;
}