body{
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.17);
    font-family: Arial, Helvetica, sans-serif;
}

.navbar1{
    background-color: rgb(87, 2, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    border-radius: 50%;
    width: 60px;
}
.navy{
    font-size: 30px;
    color: white;
}
li{
    padding: 5px;
}
.sidenav{
    background-color: lightcoral;
    width: 300px;
    height: 505px;
}
.img1{
    border-radius: 50%;
    margin-left: 40px;
    margin-top: 40px;
}
.li1{
    list-style: none;
    padding: 6px;
    background-color: gray;
    line-height: 30px;
    margin-top: 10px;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}