body{
    background-color: rgb(253, 52, 72, 0.7);
}

.navbar1{
    background-color: rgb(87, 2, 87);
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    border-radius: 50%;
    width: 60px;
}
.navy{
    font-size: 30px;
    color: white;
}
li{
    padding: 5px;
}
.img1{
    display: flexbox;
}
.img2{
    position: absolute;
    width: 500px;
     height: 400px;
     margin-left: 581px;
}
.img{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 152px;
    border: 5px solid rgb(87, 2, 87);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.content{
    margin-top: 100px;
    border-left: 5px solid  rgb(87, 2, 87);
}
span{
    text-shadow: 6px 6px 4px black;
    font-size: 30px;
    color:white;
}
p{
    color: white;
}
.color{
    background-color:  rgb(87, 2, 87);
    color: white;
}

footer{
    margin-top: 100px;
}